.insights-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 20px;
    align-items: center;
}

.insights-container a {
    margin-bottom: 20px;
}

.home-btn-container {
    width: 100%;
}