/* Join Page */
.join-container {
  display: flex;
  color: #fff;
  margin-inline: auto;
  width: 60%;
}

.join-container.login {
  max-width: 600px;
}

.join-container.login h1 {
  margin-bottom: 10px;
  align-self: center;
}

.join-main.card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 12px;
  gap: 10px;
}

.join-main .form-control {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
}
.join-main .form-control div {
  width: 100%;
}

.join-main .form-control.login {
  gap: 6px;
  font-size: larger;

}

.join-main label {
  display: block;
  margin-bottom: 8px;
  color: #4f4f4f;
}

.join-main label {
  align-self: start;
}

.join-main input,
.join-main select,
.join-main textarea {
  font-size: 16px;
  height: 40px;
  width: 100%;
  outline: none;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.join-main input::placeholder,
.join-main select::placeholder,
.join-main textarea::placeholder {
  font-size: 16px;
  font-family: monospace;
  color: var(--light-color);
}

.join-main textarea {
  height: unset;
}

.join-main input:focus,
.join-main select:focus,
.join-main textarea:focus {
  outline: #679eeb 1px solid;
}

.form-control label {
  letter-spacing: 1.3px;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  /* margin-bottom: 3px; */
}

.text_strong {
  font-weight: 100;
  color: #000000;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.signin {
  font-weight: 100;
  color: #4f4f4f;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.signin .forgot-password {
  margin-bottom: 10px;
}

.link {
  color: #4f4f4f;
}

.link:hover {
  text-decoration: underline;
}

.bottom_part {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-top: 1px solid #e8e8e8;
  padding: 2rem 0;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  background: #2e66cf;
  color: white;
  border-radius: 20px;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  cursor: pointer;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.btn:hover {
  background: #2e66cf;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.btn_secondary {
  color: #2e66cf;
  background: white;
  border: 1px solid #2e66cf;
  border-radius: 20px;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}

.btn_secondary:hover {
  box-shadow: 0 0 8px rgba(102, 49, 255, 0.2);
}

@media (max-width: 850px) {

  .join-container {
    width: 90%;
  }
}